html  {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    overflow: hidden;
}

.size-wrapper { /* Keeps everything from over-expanding on bigger pages*/
    margin-left: auto;
    margin-right: auto;
    max-width: 2000px;
}

/* CSS ANIMATIONS */

.popout {
    animation: popout 4.0s ease;
    -webkit-animation: popout 3.5s ease;
}
@keyframes popout {
    from{transform:scale(0)}
    80%{transform:scale(1.2)}
    to{transform:scale(1)}
}
@-webkit-keyframes popout {
    from{-webkit-transform:scale(0)}
    80%{-webkit-transform:scale(1.2)}
    to{-webkit-transform:scale(1)}
}

/* Clockwise */
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}

/* Counter-Clockwise */
@-moz-keyframes reverse-spin {
    100% { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes reverse-spin {
    100% { -webkit-transform: rotate(-360deg); }
}
@keyframes reverse-spin {
    100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); }
}

/* Grow Animation (For Tech icons) */
.grow { transition: all .2s ease-in-out; }

.grow:hover { transform: scale(1.1); }

/* TOP SECTION */

.top-section {
    margin-bottom: 50px;
}

.my-pic {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 600px;
    height: 600px;
}

.mail {
    text-decoration: none !important;
}

.my-name {
    text-align: center;
    font-family: 'PT Serif', serif;
}

.my-title-big {
    margin-top: 30px;
    margin-bottom: -10px;
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 25px;
}


.my-title {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 20px;
}

.link {
    color: black;
    text-decoration: none !important;
}

.link:hover {
    color: grey;
}

.nav-big {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 25px;
    text-align: center;
    font-family: 'PT Serif', serif;
}

.nav-small {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 18px;
    text-align: center;
    font-family: 'PT Serif', serif;
}

.nav-small:hover {
    color: grey;
}

a {
    color: black;
 }

.jewel-1 {
    width: 60px;
    height: 60px;
    -webkit-animation:spin 5s linear infinite;
    -moz-animation: spin 5s linear infinite;
    animation:spin 5s linear infinite;
}

.jewel-2 {
    width: 60px;
    height: 60px;
    -webkit-animation:reverse-spin 5s linear infinite;
    -moz-animation: reverse-spin 5s linear infinite;
    animation: reverse-spin 5s linear infinite;
}


/* ABOUT ME SECTION */

.about-me-section {
    margin-bottom: 150px;
    margin-top: 150px;
    padding-top: 80px;
}

.about-heading {
    font-size: 35px;
    font-family: 'PT Serif', serif;
}

.about-desc {
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
}

.about-desc-2 {
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
}

.geo-3 {
    width: 800px;
    height: 800px;
    margin-left: -50px;
    margin-top: -260px;
}

.rhi-designs {
    text-decoration: underline;
}


/* TECHNICAL SKILLS SECTION */

.tech-skill-section {
    margin-top: 300px;
    margin-bottom: 100px;
}

.background-image {
    background-image: url("prof-images/jewels-hori.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 40% 75%;
}

.space {
    margin-top: -255px;
    margin-bottom: 150px;
    padding: 100px;
}

.skills-title {
    margin-top: 40px;
    margin-left: 90px;
    margin-bottom: 90px;
    font-size: 35px;
    font-family: 'PT Serif', serif;
}

.skills-row {
    margin-left: 90px;
    margin-right: 90px;
}


.skill-mini-title {
    font-size: 20px;
    font-family: 'PT Serif', serif;
}

.icon {
    width: 60px;
    height: 60px;
    margin-left: -30px;
}

.icon-mini {
    width: 60px;
    height: 60px;
    margin-left: -40px;
    margin-top: -6px;
    margin-right: 10px;
}

.icon-hidden {
    display: none;
}

/* EXPOSURE TO SECTION */

.exposure-section {
    margin-top: 100px;
}

.background-image-2 {
    background-image: url("prof-images/jewels-hori.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 60% 40%;
    transform: scaleX(-1);
}

.img-fluid {
    max-width: 100% !important;
}

.space-2 {
    margin-top: -250px;
    margin-bottom: 150px;
    padding: 100px;
}

/* EXPERIENCE SECTION */

.experience-section {
    padding-top: 80px;
}

.exp-container-img {
    background-image: url("prof-images/triangles.png");
    background-size: contain;
    background-position: right center;
    background-repeat: repeat;

}

.exp-title {
    margin-top: 40px;
    margin-left: 90px;
    font-size: 35px;
    font-family: 'PT Serif', serif;
}

.exp-row {
    padding-top: 30px;
    margin-left: 90px;
    margin-right: 90px;
}

.job-title {
    font-size: 25px;
    font-family: 'PT Serif', serif;
}


.job-desc {
    font-size: 20px;
    padding-bottom: 10px;
    font-family: 'PT Serif', serif;
}


li {
    margin-left: -50px;
    padding: 0px 0 36px 84px;
    list-style: none;
    background-image: url("prof-images/blue-diamond.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 65px;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
}

li:nth-child(2) {
    background-image: url("prof-images/purple-diamond.png");
}

li:nth-child(3) {
    background-image: url("prof-images/pink-diamond.png");
}

li:nth-child(5) {
    background-image: url("prof-images/purple-diamond.png");
}

/* PROJECTS SECTION */

.projects-section {
    margin-top: -250px;
    margin-bottom: 260px;
    padding-top: 10px;
}

.project-box {
    border-width: 5px;
    border-style: solid;
    border-image: url("prof-images/triangles-2.png") 50; /* Make new image with triangles on each side */
    padding: 20px 80px 50px 20px;
    margin: 40px;
}

.project-image {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.proj-sec-title {
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 50px;
    font-size: 35px;
    font-family: 'PT Serif', serif;
}

.proj-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'PT Serif', serif;
}

.proj-desc {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'PT Sans', serif;
}

.demo-button {
    color: #F4C8F2 !important;
    background-color: #8A5FEC !important;
    border: none !important;
    font-family: 'PT Sans', serif !important;
    margin: 5px;
}

.demo-button:hover {
    background-color: #C2A3FF !important;
    border: none !important;
    color: white !important;
}

.demo-button:focus, .demo-button:active {
    outline: none !important;
    box-shadow: none;
}

.git-button {
    color: #A8E8FF !important;
    background-color: #6671F0 !important;
    border: none !important;
    font-family: 'PT Sans', serif !important;
    margin: 5px;
}

.git-button:hover {
    background-color: #68B0FD !important;
    border: none !important;
    color: white !important;
}

.git-button:focus, .git-button:active {
    outline: none !important;
    box-shadow: none;
}

.yah-button {
    background-color: #68B0FD !important;
    color: white !important;
    border: none !important;
    font-family: 'PT Sans', sans-serif !important;
    margin: 5px;
}

.yah-button:focus, .yah-button:active {
    outline: none !important;
    box-shadow: none;
}

.personal-btn {
    color: white !important;
    background-color: #ffbdf1 !important;
    border: none !important;
    font-family: 'PT Sans', sans-serif !important;
    font-size: 12px !important;
    margin: 5px;
}

.personal-btn:focus, .personal-btn:active {
    outline: none !important;
    box-shadow: none;
}

.codeup-btn {
    color: #f4c8f2 !important;
    background-color: #bb65e6 !important;
    border: none !important;
    font-family: 'PT Sans', sans-serif !important;
    font-size: 12px !important;
    margin: 5px;
}

.codeup-btn:focus, .codeup-btn:active {
    outline: none !important;
    box-shadow: none;
}

.work-btn {
    background-color: #d390f4 !important;
    color: white !important;
    border: none !important;
    font-family: 'PT Sans', sans-serif !important;
    font-size: 12px !important;
    margin: 5px;
}

.work-btn:focus, .work-btn:active {
    outline: none !important;
    box-shadow: none;
}

.wix-btn {
    color: #fddef6 !important;
    background-color: #F57fdc !important;
    border: none !important;
    font-family: 'PT Sans', sans-serif !important;
    font-size: 12px !important;
    margin: 5px;

}

.wix-btn:focus, .wix-btn:active {
    outline: none !important;
    box-shadow: none;
}

.udemy-btn {
    background-color: #F9aee9 !important;
    border: none !important;
    color: white !important;
    font-family: 'PT Sans', sans-serif !important;
    font-size: 12px !important;
    margin: 5px;
}

.udemy-btn:focus, .udemy-btn:active {
    outline: none !important;
    box-shadow: none;
}

/* CERTIFICATIONS SECTION */

.cert-section {
    margin-top: -150px;
    margin-bottom: 50px;
    padding-top: 10px;
}

.cert-sec-title {
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 50px;
    font-size: 35px;
    font-family: 'PT Serif', serif;
}

.cert-box {
    text-align: center;
}

.mini-cert-box {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cert-title {
    font-size: 25px;
    font-family: 'PT Serif', serif;
    padding-bottom: 35px;
}

.cert-icon {
    width: 200px;
    height: 200px;
}

.cert-btn-1 {
    margin-top: 60px;
    color: #F4C8F2 !important;
    background-color: #8A5FEC !important;
    border: none !important;
    font-family: 'PT Sans', serif !important;
    font-size: 18px !important;
}

.cert-btn-1:hover {
    background-color: #C2A3FF !important;
    border: none !important;
    color: white !important;
}

.cert-btn-1:focus, .cert-btn-1:active {
    outline: none !important;
    box-shadow: none;
}

.cert-btn-2 {
    margin-top: 60px;
    color: #A8E8FF !important;
    background-color: #6671F0 !important;
    border: none !important;
    font-family: 'PT Sans', serif !important;
    font-size: 18px !important;
}

.cert-btn-2:hover {
    background-color: #68B0FD !important;
    border: none !important;
    color: white !important;
}

.cert-btn-2:focus, .cert-btn-2:active {
    outline: none !important;
    box-shadow: none;
}

.cert-btn-3 {
    margin-top: 60px;
    color: #f4c8f2 !important;
    background-color: #bb65e6 !important;
    border: none !important;
    font-family: 'PT Sans', serif !important;
    font-size: 18px !important;
}

.cert-btn-3:hover {
    background-color: #d390f4 !important;
    border: none !important;
    color: white !important;
}

.cert-btn-3:focus, .cert-btn-3:active {
    outline: none !important;
    box-shadow: none;
}

.cert-btn-4 {
    margin-top: 60px;
    color: #fddef6 !important;
    background-color: #F57fdc !important;
    border: none !important;
    font-family: 'PT Sans', sans-serif !important;
    font-size: 18px !important;
}

.cert-btn-4:hover {
    background-color: #F9aee9 !important;
    border: none !important;
    color: white !important;
}

.cert-btn-4:focus, .cert-btn-4:active {
    outline: none !important;
    box-shadow: none;
}

/* FOOTER SECTION */

.footer-section {
    margin-top: 100px;
    padding-top: 10px;
}

.contact-img {
    width: 300px;
    height: 300px;
}

.footer-heading {
    margin-top: 40px;
    font-size: 35px;
    font-family: 'PT Serif', serif;
}

.footer-desc {
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
}
/* Defines Medium View and Up Sizes */

@media (min-width: 768px) {

    .little-nav .col-md-2 {
        margin-top: 30px;
        max-width: 10%;
        text-align: center;
    }

}

/* Defines Small View and Lower Sizes */
@media (max-width: 768px) {

    .nav-small {
        margin-top: 70px;
    }

    .nav-big {
        margin-top: 15px;
    }

    .about-heading {
        text-align: center;
    }

    .about-desc {
        text-align: center;
        padding: 40px;
    }

    .about-desc-2 {
        text-align: center;
        padding: 40px;
        margin-top: -50px;
    }

    .about-me-section {
        margin-top: -70px;
    }

    .tech-skill-section {
        margin-top: -450px;
    }

    .space {
        margin-top: 470px;
    }

    .skills-title {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: -90px;
    }

    .skill-mini-title {
        font-size: 25px;
        font-family: 'PT Serif', serif;
        text-align: center;
    }

    .icon {
        display: none;
    }

    .icon-mini {
        display: none;
    }

    .icon-hidden {
        display: block;
        width: 70px;
        height: 70px;
        margin: 40px auto 20px;
    }

    .exposure-section {
        margin-top: 200px;
        margin-bottom: 100px;
    }

    .skills-title-2 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: -140px;
    }

    .skill-mini-title-2 {
        font-size: 20px;
        font-family: 'PT Serif', serif;
        text-align: center;
    }

    .space-2 {
        margin-top: -250px;
        margin-bottom: 250px;
    }

    .exp-title {
        margin-top: -70px;
        margin-bottom: 20px;
        text-align: center;
        margin-left: 0px;
    }

    .job-title {
        text-align: center;
        margin-bottom: 30px;
    }

    .job-desc {
        text-align: center;
        margin-bottom: 80px;
    }

    .proj-sec-title {
        text-align: center;
        margin-bottom: 30px;
        margin-left: 0px;
    }

    .cert-section {
        margin-top: -270px;
        padding-top: 10px;
    }

    .cert-sec-title {
        text-align: center;
        margin-bottom: 30px;
        margin-left: 0px;
    }

    .footer-heading {
        margin-top: -200px;
    }

    .footer-heading {
        text-align: center;
    }

    .footer-desc {
        text-align: center;
        padding: 40px;
    }

    .small-hidden {
        display: none;
    }


}

@media (max-width: 869px) { /* For Images */

    .geo-3 {
        width: 600px;
        height: 600px;
        margin-left: -60px;
        margin-top: -100px;
    }

}

@media (max-width: 755px) {

    .geo-3 {
        width: 600px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: -120px;
    }

    .my-pic {
        width: 400px;
        height: 400px;
    }

    .exp-container-img {
        background-image: none;
    }

}

@media (min-width: 755px) and (max-width: 1100px) {

    .geo-3 {
        margin-left: -160px;
    }

    .exp-container-img {
        background-image: none;
    }

    .space-2 {
        margin-top: -250px;
        margin-bottom: 150px;
    }

}


/* MOBILE VIEWS */

@media (min-width: 425px) and (max-width: 500px) {

    .my-title-big {
        font-size: 25px;
        padding: 10px;
    }

    .my-title {
        margin-top: 55px;
        padding: 10px;
    }

    .jewel-1 {
        width: 30px;
        height: 30px;
    }

    .jewel-2 {
        width: 30px;
        height: 30px;
    }

    #myNavbar {
        margin-top: -30px;
    }

    .nav-big {
        padding: 10px;
    }

    .little-nav {
        margin-top: -30px;
    }

    .about-me-section {
        margin-top: -10px;
    }

    .proj-desc {
        font-size: 18px;
    }

    li {
        font-size: 15px;
        margin-left: -95px;
    }

}

/* MOBILE VIEWS */

@media (min-width: 350px) and (max-width: 424px) {

    .my-title-big {
        font-size: 25px;
        padding: 10px;
    }

    .my-title {
        margin-top: 55px;
        padding: 10px;
    }

    .jewel-1 {
        width: 30px;
        height: 30px;
    }

    .jewel-2 {
        width: 30px;
        height: 30px;
    }

    #myNavbar {
        margin-top: -30px;
    }

    .nav-big {
        padding: 10px;
    }

    .little-nav {
        margin-top: -30px;
    }

    .about-me-section {
        margin-top: -10px;
    }

    .proj-title {
        font-size: 25px;
    }

    .proj-desc {
        font-size: 15px;
    }

    li {
        font-size: 15px;
        margin-left: -105px;
    }

}

@media (min-width: 425px) and (max-width: 459px) {

    .geo-3 {
        width: 550px;
        height: 550px;
        margin-left: -60px;
    }


}

@media (min-width: 460px) and (max-width: 479px) {

    .geo-3 {
        width: 550px;
        height: 550px;
        margin-left: -40px;
    }


}

@media (min-width: 480px) and (max-width: 500px) {

    .geo-3 {
        width: 550px;
        height: 550px;
        margin-left: -20px;
    }


}

@media (min-width: 425px) and (max-width: 459px) {

    .geo-3 {
        width: 550px;
        height: 550px;
        margin-left: -60px;
    }


}

@media (min-width: 460px) and (max-width: 479px) {

    .geo-3 {
        width: 550px;
        height: 550px;
        margin-left: -40px;
    }


}

@media (min-width: 350px) and (max-width: 459px) {

    .geo-3 {
        width: 500px;
        height: 500px;
        margin-left: -70px;
    }


}

